@import url('styles.css');


body{
	background: #F8F9FB !important;
  min-height: 100vh;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: var(--primary-main);
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

.my-container input {
  border-radius: 2rem;
  padding: 3px 20px;
}

.dropdown-item:hover{
  border-left: 4px solid var(--secondary-main);
  color: var(--secondary-main) !important;
}

.dropdown-item:focus{
  background-color: var(--light-main);
}

.bg-image{
  background: url("../img/navbar-onda.svg") left;
  background-repeat: no-repeat;
}

.active{
  background: white;
  margin-left: 1rem;
  border-radius: 16px 0 0 16px;
}

.nav-item:focus:active{
    color: var(--secondary-main) !important;
}
.nav-link:focus{
  background-color: transparent !important;
}
.nav-link:active{
  background-color: transparent !important;
}

