*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

:root {
    /*navbar*/
    --header-ancho: 3rem;
    --nav-largo: 68px;
    --img-largo: 100px;
    --img-ancho: 100px;

    /*Paleta de colores*/
    --main-color: #262C2C;
    --color-grey: white;
    --secondary-blue: #2AA2DF;
    --color-graystandar: #F3F6FA;
}

body{
    background-color: var(--color-graystandar) !important;
    font-family: 'Karla' !important;
}

a {
    text-decoration: none !important;
}

.form-control{
    box-shadow:  6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
    border: 0px !important;
    border-radius: 16px !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary-blue) !important;
}

.form-select{
    box-shadow:  6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
    border: 0px !important;
    border-radius: 16px !important;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary-blue) !important;
}

.btn{
    border-radius: 24px !important;
}

.btn:focus{
    box-shadow: none !important;
}

.btn-oscuro:hover{
    background-color: var(--bs-primary) !important;
    color: white !important;
    border: 2px solid white !important;
}

.btn-claro:hover{
    background-color: transparent !important;
    color: var(--secondary-blue) !important;
    border: 2px solid var(--secondary-blue) !important;
}

.btn-claro-danger:hover{
    background-color: transparent !important;
    color: var(--bs-red) !important;
    border: 2px solid var(--bs-red) !important;
}

.btn-claro-success:hover{
    background-color: transparent !important;
    color: var(--bs-green) !important;
    border: 2px solid var(--bs-green) !important;
}

.btn-without-border{
    border-radius: 3px !important;
}

.h-divisor {
    opacity: 1 !important;
    height: 0.2rem !important;
    border-radius: 8px;
    background-color: var(--ssecondary-blue);
}

.bg-main{
    background-color: white;
}

.cyan-text{
    color: var(--secondary-blue) !important;
}

/*Modal y trozos de templates*/
.bg-secondary-color{
    background-color: var(--secondary-blue);
}

.border-rad{
    border-radius: 1rem !important;
    border: none !important;
}

.row-quit-bs{
    --bs-gutter-x: none !important;
}

.modal-button-rigth{
    border-radius: 1rem .2rem .2rem 1rem !important;
}

.modal-button-left{
    border-radius: .2rem 1rem 1rem .2rem  !important;
}